mat-toolbar {
    background: #A03037 0% 0% no-repeat padding-box;
    position  : fixed;
    top       : 0;
    width     : 100%;
    z-index   : 99;
    padding   : 0px 0px 0px 17%;
}

.book-logo{
    width     : 35px;
    height    : 28px;
    margin-right: 3px;
    background: transparent 0% 0% no-repeat padding-box;
}
.name-logo{
    margin-top: 3px;
    text-align    : left;
    font          : normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color         : #FFFFFF;
    text-transform: capitalize;
    opacity       : 1;
}
.logo-section{
    display: flex;
    flex-direction: row;
   padding-top: 1.5%;
   margin-top: 5px;
}
.logo-section-main{
    display: flex;
    flex-direction: row;
  
}
input {
    outline      : none;
    border       : none;
    height       : 33px;
    width        : 490px;
    border-radius: 3px;
    opacity      : 1;
    padding-left : 20px;

}
.search-image{
    width: 18px;
    height: 18px;
    
}
.search-section{
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    margin-top: 5px;
    padding-top: 1.4%
  
}
 .end-buttons{
     display: flex;
     flex-direction: row;
     margin-left: 90px;
     
 }

// .cart-option{
//     margin-left: 30px;
// }


// .profile-button{
//     display: flex;
//     flex-direction: column;
//     background-color: transparent;
//     padding: 5px;
//     align-items: center;
//     border: none;
// }
.profile{
    padding-top: 8%;
    cursor: pointer;
    width: 100px;
    height: 100%;

    img{
        width: 31px;
        height: 25px;
        margin-left: 3px;
      
    }
    p{
        text-align: left;
        font          : normal normal normal 10px/13px 'Roboto', sans-serif;
        letter-spacing: 0.45px;
        color: #FFFFFF;
        opacity:   1;
        font-size: small;
      
    }
    span {
        width        : 70%;
        height       : 5px;
        background   : #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity      : 1;
    }
}
.cart-option{
    padding-top: 8%;
    cursor     : pointer;
    width      : 100px;
    height     : 100%;

    img {
        width : 31px;
        height: 25px;
    }

    p {
        text-align    : left;
        font          : normal normal normal 10px/13px 'Roboto', sans-serif;
        letter-spacing: 0.45px;
        color         : #FFFFFF;
        font-size: small;
        opacity       : 1;
    }

}

mat-menu{
    width: 100px;
}
.Menu{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    margin-top: 0px;
    padding: 10px;
    align-content: space-between;
}
.loginBtn{
    margin-top: 5px;
    border: 0.5px solid grey;
    border-radius: 1px;
    width: 100px;
    padding-left: 13px;
    text-decoration: none;
    color: rgb(209, 209, 209);
}