.updateform{
    margin: 1px;
}
.mat-form-field{
    margin: 1px;
    width: 320px;
    height: 76px;
}
.disc{
    margin: 1px;
}
.textform{
    margin: 1px;
    border: groove;
    border-style: groove;
    height: 50px;
    margin-bottom: 23px;
}