<div class="signup-container">
    <div class="input-fields">
        <form  [formGroup]="SignUpForm">
        <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input class="input" formControlName="fullname" matInput type="text" />
          </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input class="input" formControlName="email" matInput type="email" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input [type]="showPwd? 'text':'password'" class="input" formControlName="password" matInput type="password"/>
            <mat-icon (click)="OnCheck()" *ngIf="visible"  matSuffix>visibility</mat-icon>
            <mat-icon (click)="OnCheck()" *ngIf="!visible"  matSuffix>visibility_off</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input class="input" formControlName="mobile" matInput type="text" />
          </mat-form-field>


          <div class="buttonsPart">
            <button class="submitBtn" mat-raised-button>
              SignUp
            </button>
          </div>
        </form>
    </div>

</div>