$bacground-black : rgba(17, 2, 2, 0.6);
$background-white: #ffffff;

.books-display-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    margin-top: 5px;
    margin-left: 200px;
    margin-right: 50px;
    cursor: pointer;
    position: relative;


}

.book-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    margin: 10px;
    border: 1px solid rgb(189, 187, 190);
    border-radius: 2px;
    position: relative;

    .quickView {
         display: none;
         width         : auto;
         height        : auto;
         padding       : 3px;
         text-align    : center;
         text-transform: uppercase;
         font-family   : 'Lato', sans-serif;
         font-size     : 10px;
         position: absolute;
         bottom: 42%;
         left: 35%; 
         transform: (-50% -50%); 
     }
    .book-image {

        width: 250px;
        height: 200px;
        background: #cfcfcf;

        img {

            margin-top: 10px;
            margin-left: 62px;
            width: 130px;
            height: auto;
        }
    }

    .book-title {
        margin-bottom: 1px;
        font-size: 24px;
        font-weight: 600;
    }
    .book-price{
        display: flex;
        flex-direction: row;
        font-weight: 500;
        .actual-price{
            color: #cfc0c0;
            margin-left: 30px;
            text-decoration: line-through;
        }

    }
    .book-details {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-content: flex-start;
    }

    .book-author {
        font-style: normal;
        font-size: small;
        font-weight: 480;
        color: #cfcfcf;
    }
    .book-rating-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .star-rating{
            background-color: #388E3C;
            color: #ffffff;
            width: 40px;
            height: 20px;
            margin-bottom: 5px;
            border: #388E3C;
            display: flex;
            flex-direction: row;
            align-content: space-around;
            padding-left: 10px;   
        }
        .rating-count{
            color: #cfcfcf;
            margin-left: 10px;
            display: flex;
            flex-direction: row;
        }
        img{
            margin-left: 6px;
        }
    }
   

}
 .book-card :hover {
    
    .quickView {
        display: block;
        background-color: $bacground-black;
        color           : $background-white;
        
    }
}

.top-section{
    margin-top: 70px;
    margin-left: 215px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    .Book-count{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    p{
        margin-left: 10px;
        font-size: small;
        color: #cfc0c0;
        
    }
}

