<div class="main-container">
    <div class="logo-container">
        <img class="cart-logo" src="../../../assets/home-cart.png">
        <p>Online Book Shopping</p>
    </div>
    <div class="login-container">
        <div class="buttons">
            <div>
                <button class="login-btn" (click)="islogin=false">Login</button>

            </div>
             <div>
                <button (click)="islogin=true">SignUp</button>
             </div>
        </div>

        <div class="login-form" *ngIf="!islogin">
            <app-login-form></app-login-form> 
        </div>
        <div class="sign-up-form" *ngIf="islogin">
            <app-sign-up></app-sign-up> 
        </div>
    </div>
</div>
