<div>
    <app-navbar [recieveCartBookList]="cartBook"></app-navbar>
</div>
<div class="return-home">
    <span class="return" (click)=" returnToHome()">Home / cart</span>
</div>
<div class="cart-main-container">
    <div class="book-options">
        <div class="CartItem-count">
            <span>My cart ({{cartBook.length}})</span>
        </div>
        <div class="cart-sub " *ngFor='let cartitem of cartBook'>
            <div class="cart-item-details">
                <div class="book-image">
                    <img src="../../../assets/UXbookCover.png">
                </div>
                <div class="book-details">
                    <div class="book-title">
                        <p>{{cartitem.product_id.bookName}}</p>
                    </div>
                    <div class="book-author">
                        <p class="book-author-p">by {{cartitem.product_id.author}}</p>
                    </div>
                    <div class="book-price">
                        <span>Rs. {{cartitem.product_id.discountPrice}} </span>
                        <p class="og-price">Rs. {{cartitem.product_id.price}}</p>
                    </div>
                    <div class="sub-btn">
                        <div class="book-quantity">
                            <div class="minus-button">
                                <button class="decrease-button" (click)="decrease(cartitem)">-</button>
                            </div>
                            <div class="quantity">
                                <p>{{cartitem.quantityToBuy}}</p>
                            </div>
                            <div class="plus-button">
                                <button class="increase-button" (click)="increase(cartitem)">+</button>
                            </div>
                            <div class="delete-button">
                                <p (click)="deletCartItem(cartitem._id)">Remove </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="continue-button" *ngIf="placeorder">
            <button mat-raised-button color="#3371B5" (click)="addressBar()">PLACE ORDER</button>
        </div>
    </div>
</div>
<div class="address"  *ngFor="let Book of cartBook ">
    <div *ngIf="address">
        <h2>Address Details</h2>
    </div>
    <div >
    <div *ngIf="!address">
        <div>
            <div>
                <h2>Customer Details</h2>
            </div>
            <div class="cust-container">
                <div class="fname">
                    <div>
                        <label for="fname" class="label">Full Name</label>
                    </div>
                    <div>
                        <p>{{Book.user_id.fullName}}</p>
                    </div>
                </div>
                <div class="fname">
                    <div>
                        <label for="MoNum" class="label">Mobile Number</label>
                    </div>
                    <p>{{Book.user_id.phone}}</p>
                </div>
            </div>
        </div>
        <div>
            <h4>Address</h4>
            <div class="fad">
                <p>{{Book.user_id.address.fullAddress}}</p>
            </div>
        </div>
        <div class="cust-container">
            <div class="fname">
                <div>
                    <label for="MoNum" class="label">City/Town</label>
                </div>
                <div>
                    <p>{{Book.user_id.address.city}}</p>

                </div>
            </div>
            <div class="fname">
                <div>
                    <label for="MoNum" class="label">State</label>
                </div>
                <div>
                    <p>{{Book.user_id.address.state}}</p>

                </div>
            </div>
        </div>
        <div class="continue-order" *ngIf="cont">
            <button mat-raised-button color="#3371B5" (click)="continueBar()">CONTINUE</button>
        </div>
    </div>
    </div>
</div>
<div class="summary">
    <div *ngIf="summary">
        <h2>Order Summary</h2>
    </div>
    <div *ngIf="!summary">
        <h2>Order Summary</h2>
        <div class="cart-sub" *ngFor="let Book of cartBook">
            <div class="cart-item-details">
                <div class="book-image">
                    <img src="../../../assets/UXbookCover.png">
                </div>
                <div class="book-details">
                    <div class="book-title">
                        <p>{{Book.product_id.bookName}}</p>
                    </div>
                    <div class="book-author">
                        <p class="book-author-p">by {{Book.product_id.author}}</p>
                    </div>
                    <div class="book-price">
                        <span>Rs. {{Book.product_id.discountPrice}} </span>
                        <p class="og-price">Rs. {{Book.product_id.price}}</p>
                    </div>
                </div>
            </div>   
        </div>
        <div class="final-order">
            <button mat-raised-button color="#3371B5" (click)="placeOrder()">CHECKOUT</button>
        </div>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>